---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import CardAgent from "../../components/CardAgent.astro";
import { getAgents } from "../../../backend.mjs";
import type { RecordModel } from "pocketbase";

const agents = await getAgents();
console.log(agents);

---

<Layout title="Agents">
    <h1>Liste des agents</h1>
    <br>
    <a href="/agents/add" class="bg-green-600 rounded-lg text-white p-2 ml-2"
        >+ Ajouter un agent</a
    >
    <div class="agents-container">
        {
            agents.map((agent: RecordModel) => (
                <div class="agent">
                    <CardAgent record={agent} />
                </div>
            ))
        }
    </div>
</Layout>

<style>
    .agents-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
        margin-top: 1.5rem;
    }
</style>
