---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import { getAgent } from '../../backend.mjs';
---

<Layout titre="Home Page">
	<h1>Hello, Astro!</h1>
		<p>Welcome to your new project.</p>
		<p>Bienvenue sur le site de votre agence immobilière</p>
</Layout>
	
<a href="/offres/add.astro">Ajouter une offre</a>
<br>
<a href="/agents/add.astro">Ajouter un agent</a>
<a href="../../src/pages/agents">Voir les agents</a>