---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body>
		<header>
			<Header />
		</header>
		<h1>Hello, Astro!</h1>
		<p>Welcome to your new project.</p>
	</body>
</html>