---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
---

<Layout titre="Home Page">
	<h1>Hello, Astro!</h1>
		<p>Welcome to your new project.</p>
		<p>Bienvenue sur le site de votre agence immobilière</p>
</Layout>
	
<a href="/offres/add.astro">Ajouter une offre</a>